<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <filter>
        <filter-name>FiltroAgregarLog</filter-name>
        <filter-class>FiltroAgregarLog</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FiltroAgregarLog</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>DatosLogueadoServlet</servlet-name>
        <servlet-class>DatosLogueadoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>categoriasServlet</servlet-name>
        <servlet-class>CategoriasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerServiciosServlet</servlet-name>
        <servlet-class>VerServiciosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CatsServlet</servlet-name>
        <servlet-class>CatsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InformacionServicioServlet</servlet-name>
        <servlet-class>InformacionServicioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerPromocionesServlet</servlet-name>
        <servlet-class>VerPromocionesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerPromosServlet</servlet-name>
        <servlet-class>VerPromosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InformacionPromocionServlet</servlet-name>
        <servlet-class>InformacionPromocionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CopiarImagenesServlet</servlet-name>
        <servlet-class>CopiarImagenesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerPerfilServlet</servlet-name>
        <servlet-class>VerPerfilServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>IndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarAlCarritoServlet</servlet-name>
        <servlet-class>AgregarAlCarritoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelarReservaServlet</servlet-name>
        <servlet-class>CancelarReservaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BusquedaServley</servlet-name>
        <servlet-class>BusquedaServley</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BusquedaServlet</servlet-name>
        <servlet-class>BusquedaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DatosDePruebaServlet</servlet-name>
        <servlet-class>DatosDePruebaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesionServlet</servlet-name>
        <servlet-class>CerrarSesionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarReservaServlet</servlet-name>
        <servlet-class>AgregarReservaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductoDeReservaServlet</servlet-name>
        <servlet-class>ProductoDeReservaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VaciarCarritoServlet</servlet-name>
        <servlet-class>VaciarCarritoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarProductoDelCarrito</servlet-name>
        <servlet-class>EliminarProductoDelCarrito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AyudaServlet</servlet-name>
        <servlet-class>AyudaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerCarritoServlet</servlet-name>
        <servlet-class>VerCarritoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DatosLogueadoServlet</servlet-name>
        <url-pattern>/DatosLogueadoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>categoriasServlet</servlet-name>
        <url-pattern>/categoriasServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerServiciosServlet</servlet-name>
        <url-pattern>/VerServiciosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CatsServlet</servlet-name>
        <url-pattern>/CatsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InformacionServicioServlet</servlet-name>
        <url-pattern>/InformacionServicioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerPromocionesServlet</servlet-name>
        <url-pattern>/VerPromocionesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerPromosServlet</servlet-name>
        <url-pattern>/VerPromosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InformacionPromocionServlet</servlet-name>
        <url-pattern>/InformacionPromocionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CopiarImagenesServlet</servlet-name>
        <url-pattern>/CopiarImagenesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerPerfilServlet</servlet-name>
        <url-pattern>/VerPerfilServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/IndexServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarAlCarritoServlet</servlet-name>
        <url-pattern>/AgregarAlCarritoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelarReservaServlet</servlet-name>
        <url-pattern>/CancelarReservaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BusquedaServley</servlet-name>
        <url-pattern>/BusquedaServley</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BusquedaServlet</servlet-name>
        <url-pattern>/BusquedaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DatosDePruebaServlet</servlet-name>
        <url-pattern>/DatosDePruebaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesionServlet</servlet-name>
        <url-pattern>/CerrarSesionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarReservaServlet</servlet-name>
        <url-pattern>/AgregarReservaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductoDeReservaServlet</servlet-name>
        <url-pattern>/ProductoDeReservaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VaciarCarritoServlet</servlet-name>
        <url-pattern>/VaciarCarritoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarProductoDelCarrito</servlet-name>
        <url-pattern>/EliminarProductoDelCarrito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AyudaServlet</servlet-name>
        <url-pattern>/AyudaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerCarritoServlet</servlet-name>
        <url-pattern>/VerCarritoServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
